<% content_for :title, "Editing User" %>

<div class="container mt-4">
  <h1 class="mb-4">Editing User</h1>

  <div class="card shadow-sm">
    <div class="card-body">
      <%= render "form", user: @user %>
    </div>
  </div>

  <div class="mt-4">
    <%= link_to "Show this user", @user, class: "btn btn-primary me-2" %>
    <%= link_to "Back to users", users_path, class: "btn btn-secondary" %>
  </div>
</div>
